@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-style: italic;
    text-indent: 30px;
}

.titulo01{
    text-align: center;
}

.tabela{
    border: 4px solid white;
    border-spacing: 0px; 
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px red;
    background-color: rgb(95, 0, 247);
    color: white;
}

.tabela td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

/*usando elementos semânticos*/

main{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.418);
    padding: 20px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
}

main a{
    color:black;
    text-decoration: none;
}

main a:hover{
    transform: scale(1.1);
    transition: calc(1.1);
}
